# Windows OpenSSL dependencies
libcrypto-1_1.dll
libssl-1_1.dll

# Testing stuff
server/
testr.js

# Build files
core/core
core/core.exe
core/build.sh
build/

# Node
node_modules/
build.sh

# VS Code
.vscode/

# Github
.github/

# Tests
index.test.js